$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

body {
  background-image: url(../images/redox_01.png);
}

label, input, select {
  font-size: 1.2em;
}

button {
  margin-left: 350px;
}